<div class="right_column-wrap">
  {% if settings.displayright_services %}
  	{% section 'right-col-services' %}
  {% endif %}
  {% if settings.displayright_collection_product %}
  	{% section 'right-col-product' %}
  {% endif %}
   {% if settings.displayright_banner %}
  	{% section 'right-col-banner' %}
  {% endif %}
</div>