<div class="grid error-404 page-content-wrapper col-xs-12">
	<div class="grid-item text-center">
		<h1 class="text-center heading-404">{{ 'general.404.title' | t }}</h1>
      <h4 class="text-center">{{ 'general.404.sub_title' | t }}</h4>
		<p class="text-center">{{ 'general.404.subtext_html' | t }}</p>
		 {% render 'search-bar' %}
	</div>
</div>