.main-content {
  &>div {
    li:nth-child(1) {
      .slider-content-wrap {
        left: 15px !important;
        max-width: 200px;

        &:before {
          content: "";
          display: block;
          background: url('https://cdn.shopify.com/s/files/1/0753/3212/4850/files/elemar.avif?v=1769031422') no-repeat;
          height: 52px;
          width: 100px;
          z-index: 1111111;
          position: absolute;
          top: -58px;
          left: 23px;
          background-size: contain;

          @media (min-width: 769px) {
            height: 71px;
            width: 132px;
            top: -80px;
            left: 0;
          }
        }
      }

      @media (min-width: 769px) {
        .slider-content-wrap {
          max-width: none;
          left: 200px !important;
        }

        .slider-subtitle {
          display: none;
        }
      }

    }

    li:nth-child(2) {
      .slider-content-wrap {
        left: 15px !important;
        max-width: 200px;
        top: 97px;

        &:before {
          content: "";
          display: block;
          background: url('https://cdn.shopify.com/s/files/1/0753/3212/4850/files/okstyle.jpg?v=1769032823') no-repeat;
          height: 90px;
          width: 90px;
          z-index: 1111111;
          position: absolute;
          top: -89px;
          left: 23px;
          background-size: contain;
          border-radius: 100%;

          @media (min-width: 769px) {
            height: 71px;
            width: 132px;
            top: -80px;
            left: 0;
          }
        }
      }

      @media (min-width: 769px) {
        .slider-content-wrap {
          max-width: none;
          left: 200px !important;
        }

        .slider-subtitle {
          display: none;
        }
      }

    }
  }
}